body {
  background-color: red;
  background-image: url(509191fad4a92ec6e3c5c3628e41ed36.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #19b3e6;
  color: #fff;
  font-size: 1.8em; }

